<!--mcc start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://muxemail.com/">MuxEmail |\/|</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" onclick="window.location.href='/show/electronics_store'">Electronics Shop</a>
            <a class="dropdown-item" onclick="window.location.href='/show/toys_store'">Toy Store</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.location.href='/addcustomer'">Add Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.location.href='/logout'">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div
    class="row"
    style="background-image: url('bck.jpg'); margin: 0; padding: 0;"
  >
    <div class="col-md-9 m-auto">
      <div
        class="card card-body pre-scrollable"
        style="max-height: 38rem; margin-bottom: 30px; margin-top: 30px;"
      >
        <h2 class="text-center mb-3">
          <i class="fas fa-user-plus"></i>Update-Customer Form (Electronics Store)
        </h2>
        <%- include('./partials/messages') %>
        <h3>To delete fields visit :</h3>
        <button class="btn-sm btn-success" onclick="window.location.href='/add/electronics'"> Electronics Store</button>
        
        <h3> Fill the form : </h3>
        <form action="/update/customer_el" method="POST">
            
          <% if (field.length != 0) { %>
            <% for(var i=0;i< field.length; i++) { %>

                <% if(field[i].imp != "true"){ %>
                    <span>
                    <h6>Custom field :</h6>
                    
                    </span>
                    <% } %>

                <% var t = field[i].name%>
                <% var p = info[0].get(t)%>
          <div class="form-group">
            <label for="added"><%= t %> :</label>
            <input
              type="<%= field[i].type %>"
              id="bday"
              name="<%= field[i].name %>"
              class="form-control"
              value="<%=p%>"
              placeholder="<%=p%>"
              
            />
          </div>

          <% } %>
          <h6>*to edit fields goto ADD CUSTOMER section</h6>
          <% } %>
          <input name="id" value="<%=info[0]._id%>" readonly hidden>
         
  
   
  
          <button type="submit" class="btn btn-primary btn-block">
            Submit
          </button>
        </form>
  
         <!---->
            
          </div>
         <!-- <script>
          $(document).ready(function() {
            var max_fields      = 13; //maximum input boxes allowed
            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID
            var x = 1; //initlal text box count
            $(add_button).click(function(e){
              e.preventDefault();
              var field_name      = $(".field_name").val();
              var field_type      = $(".field_type").val();
              alert(`You are going to add a new field to the form: Name = ${field_name}, datatype = ${field_type}`)
              $.post('/add/newfield',{
                name : field_name,
                type : field_type,
              })
         //  $(add_button).click(function(e){ //on add input button click
         //       e.preventDefault();
         //       var field_name      = $(".field_name").val();
         //       var field_type      = $(".field_type").val();
               
         //       if(x < max_fields){ //max input box allowed
         //         var t = `<div class="form-group"><label for="${field_name}">${field_name}</label><input type="${field_type}" name="${field_name}" class="form-control"/><a href="#" class="remove_field">Remove</a></div>`
         
         //        //text box increment
         //           $(wrapper).append(t); //add input box
         //           x++; 
         //   }
         //   });
          
         //   $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
              
         //   e.preventDefault(); 
         //   $(this).parent('div').remove(); 
         //   x--;
         //   })
       });
         
         </script>    -->
      </div>
    </div>
  </div>
  
  <!--mcc ends-->
  